<div data-bind="value: title, css: {loading: loading, 'alert-danger': error}" class="video">
    <span data-bind="click: remove" class="glyphicon glyphicon-remove remove" aria-hidden="true"></span>
    <input class="title" data-bind="value: title" placeholder="title..."></input>
    <a data-bind="click: openVideoPlayer" class="thumbnail" href="#">
        <span data-bind="css: { loading: status() == 'processing' }" class="play" />
        <img data-bind="attr: { src: thumbnailUrl }" />
    </a>
    <div>
        <input data-bind="value: newLabel" class="add-label" placeholder="label" />
        <div data-bind="foreach: labels">
            <span class="label label-default">
                <span data-bind="text: $data" />
                <a href="#" class="label-remove" data-bind="click: $parent.removeLabel">&times;</a>
            </span>
        </div>
    </div>
</div>